.page-template-page-form {
    header.header,
    footer.footer {
        display: none;
    }

    background-color: #fff;

    h1 {
        color: #000;
        font-family: 'Times New Roman', Times, $serif;
        font-size: 50px;
    }

    h2 {
        font-size: 50px;
    }
}