.page-template-page-form {
    header.header,
    footer.footer {
        display: none;
    }

    #content {
        margin: 0;
    }

    background-color: $white;

    h1 {
        color: $black;
        font-family: 'Times New Roman', Times, $serif;
        font-size: 80px;
        height: 200px;
        display: flex;
        align-items: center;
    }

    h2 {
        font-size: 80px;
        margin: 0 0 50px;
    }

    section {
        padding-top: 50px;
        padding-bottom: 100px;
    }

    button.submit {
        width: 100%;
        padding: 50px 0;
        font-size: 200px;
        border: 0;
        text-shadow: 0 0 25px yellow;
    }

    label {
        color: rgba($white, 0.85);
        max-width: 100%;
        width: 400px;
        margin-bottom: -15px;
        font-size: 40px;
        display: flex;
    }
    input {
        background-color: rgba($white, 0.25);
        border: 0;
        height: 75px;
        border-radius: 0;
        color: rgba($white, 0.85);
        max-width: 100%;
        width: 400px;
        margin-bottom: 25px;
        font-size: 40px;
        text-indent: 25px;
        display: flex;

        &::placeholder {
            color: rgba($white, 0.5);
        }
    }


    #who-are-you {
        position: relative;
        height: 600px;

        img.image-my-name-is {
            position: absolute;
            box-shadow: 0 5px 10px rgb(0 0 0 / 20%);
            border-radius: 25px;
            
            &:nth-of-type(7) {
                height: 300px;
                top: 150px;
                right: 350px;
                transform: rotate(5deg);
            }
            &:nth-of-type(6) {
                height: 250px;
                top: 175px;
                right: 300px;
                transform: rotate(-5deg);
            }
            &:nth-of-type(5) {
                height: 200px;
                top: 150px;
                right: 250px;
                transform: rotate(7.5deg);
            }
            &:nth-of-type(4) {
                height: 175px;
                top: 150px;
                right: 200px;
                transform: rotate(-2.5deg);
            }
            &:nth-of-type(3) {
                height: 150px;
                top: 175px;
                right: 150px;
                transform: rotate(5deg);
            }
            &:nth-of-type(2) {
                height: 125px;
                top: 100px;
                right: 100px;
                transform: rotate(-7.5deg);
            }
            &:nth-of-type(1) {
                height: 100px;
                top: 75px;
                right: 50px;
                transform: rotate(2.5deg);
            }
        }
    }

}

