/******************************************************************
Site Name:
Author:

Stylesheet: Typography

Need to import a font or set of icons for your site? Drop them in
here or just use this to establish your typographical grid. Or not.
Do whatever you want to...GOSH!

Helpful Articles:
http://trentwalton.com/2012/06/19/fluid-type/
http://ia.net/blog/responsive-typography-the-basics/
http://alistapart.com/column/responsive-typography-is-a-physical-discipline

******************************************************************/


/*********************
FONT FACE (IN YOUR FACE)
*********************/


@font-face {
  font-family: 'prismaregular';
  src: url('../fonts/prisma-webfont.woff2') format('woff2'),
       url('../fonts/prisma-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'besom_2regular';
  src: url('../fonts/besom-free-font-webfont.woff2') format('woff2'),
       url('../fonts/besom-free-font-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'rush_brushregular';
  src: url('../fonts/rushbrush-webfont.woff2') format('woff2'),
       url('../fonts/rushbrush-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'leira_literegular';
  src: url('../fonts/leira-lite-webfont.woff2') format('woff2'),
       url('../fonts/leira-lite-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'awery_smallcapsregular';
  src: url('../fonts/awery_sc-webfont.woff2') format('woff2'),
       url('../fonts/awery_sc-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'aweryregular';
  src: url('../fonts/awery-webfont.woff2') format('woff2'),
       url('../fonts/awery-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'krungthepregular';
  src: url('../fonts/krungthep-webfont.woff2') format('woff2'),
       url('../fonts/krungthep-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ds-digitalnormal';
  src: url('../fonts/ds-digi-webfont.woff2') format('woff2'),
       url('../fonts/ds-digi-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ds-digitalbold';
  src: url('../fonts/ds-digib-webfont.woff2') format('woff2'),
       url('../fonts/ds-digib-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ds-digitalitalic';
  src: url('../fonts/ds-digii-webfont.woff2') format('woff2'),
       url('../fonts/ds-digii-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ds-digitalbold_italic';
  src: url('../fonts/ds-digit-webfont.woff2') format('woff2'),
       url('../fonts/ds-digit-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'budmojiggler';
  src: url('../fonts/budmo_jiggler-webfont.woff2') format('woff2'),
       url('../fonts/budmo_jiggler-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'budmojigglish';
  src: url('../fonts/budmo_jigglish-webfont.woff2') format('woff2'),
       url('../fonts/budmo_jigglish-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'panfleta_stencilextra_bold';
  src: url('../fonts/panfletastencil-extrabold-webfont.woff2') format('woff2'),
       url('../fonts/panfletastencil-extrabold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'panfleta_stencilregular';
  src: url('../fonts/panfletastencil-regular-webfont.woff2') format('woff2'),
       url('../fonts/panfletastencil-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'abril_fatfaceregular';
  src: url('../fonts/abrilfatface-regular-webfont.woff2') format('woff2'),
       url('../fonts/abrilfatface-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


// font stacks
$sans-serif:        "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
$serif:             "Georgia", Cambria, Times New Roman, Times, serif;

/*
 i imported this one in the functions file so bones would look sweet.
 don't forget to remove it for your site.
*/
$lato:              $sans-serif;

/*
some nice typographical defaults
more here: http://www.newnet-soft.com/blog/csstypography
*/
p {
  -ms-word-wrap: break-word;
  word-break: break-word; //non-standart css for webkit
  word-wrap: break-word;
  // cleaning up the ragged lines and breaks
  -webkit-hyphens: auto;
     -moz-hyphens: auto;
          hyphens: auto;
  // sets a minimum number of characters before and after the break
  -webkit-hyphenate-before: 2;
   -webkit-hyphenate-after: 3;
           hyphenate-lines: 3;
  // enabling fancy ligatures when available
  -webkit-font-feature-settings: "liga", "dlig";
   -moz-font-feature-settings: "liga=1, dlig=1";
      -ms-font-feature-settings: "liga", "dlig";
       -o-font-feature-settings: "liga", "dlig";
          font-feature-settings: "liga", "dlig";
}

