/******************************************************************
Site Name: 
Author: 

Stylesheet: Super Large Monitor Stylesheet

You can add some advanced styles here if you like. This kicks in
on larger screens.

******************************************************************/


.wrap {
	padding-right: calc((100% - 1180px) / 2);
	padding-left: calc((100% - 1180px) / 2);
}